<ion-view view-title="Account" hide-nav-bar="true">

    <div class="bar bar-header item-input-inset bar-positive" style="position: fixed;">
        <label class="item-input-wrapper">
            <input type="search" placeholder="Tìm kiếm deal..." ng-model="search.searchText">
        </label>
        <button class="button button-clear" ng-click="clear_search()">
            <i class="icon ion-ios-search"></i>
        </button>
    </div>

    <ion-content class="content dashboard" style="margin-top:40px;">

        <div class="hero has-mask" ng-style="{'background-image':'url('+feeds[1].picture_url+')'}">
            <div class="content">
                <div class="avatar" back-img="{{profile.picture}}"></div>
                <h2 style="margin:0;color:white;">{{profile.name}}</h2>
                <p>{{followers_number || 0}} Follower {{followings_number || 0}} Following</p>
            </div>
        </div>

        <div class="button-bar">
            <div ng-click="ShowPosts()" ng-class="show == 'posts' ? 'active' : 'btn'" class="button button-dark">
                Posts
            </div>
            <div ng-click="ShowFollowing()" ng-class="show == 'followings' ? 'active' : 'btn'" class="button button-dark">
                Following
            </div>
            <div ng-click="ShowFollowers()" ng-class="show == 'followers' ? 'active' : 'btn'" class="button button-dark">
                Followers
            </div>
        </div>

        <div ng-if="show == 'posts'" class="list"
             ng-repeat="post in feeds | filter:search.searchText | orderBy:'-id' ">
            <div class="item item-avatar">
                <img style="border-radius:0;" ng-src="{{ post.user.avatar_url }}">
                <div style="position:absolute; right:15px; top:15px;">1 Day</div>
                <h2 class="username">{{ post.user.name | limitTo: 25 }}</h2>
                <p>Quận 2, HCM</p>
            </div>
            <div class="item item-body" ng-click="OpenDetail(post.id)">
                <img class="full-image" ng-src="{{ post.picture_url }}">
                <p style="margin-bottom:5px;">
                    {{ post.description }}
                </p>
                <div class="deal-icons">
                    <a href="#" class="subdued"><i class="ion-android-star-outline"></i> {{post.likes.count || 0}}</a>
                    <a href="#" class="subdued"><i class="ion-ios-chatboxes-outline"></i> {{post.comments.count || 0}}</a>
                    <a href="#" class="subdued"><i class="ion-android-share-alt"></i> {{post.shares.count || 0}}</a>
                </div>
                <div class="row deal-footer">
                    <div class="deal-sale-off col-67"><span ng-if="post.promotion_value" >Sale off {{post.promotion_value}}</span></div>
                    <!--<div class="share col-33"><button class="button" ng-click=Share()>Share</button></div>-->
                </div>
            </div>
        </div>

        <div ng-if="show == 'followings'" class="list">
            <a  ng-repeat="follow in followings" ng-click="OpenProfile(follow.id)"
                class="item item-avatar waves-effect waves-button waves-dark in done" style="min-height: 80px;">
                <span class="avatar deal-picture" ng-style="{'background-image':'url('+follow.avatar+')'}"></span>
                <h2>{{ follow.name | limitTo: 25 }}</h2>
            </a>

            <p ng-if="!followings.length" class="text-center">This user has not follow anyone yet</p>
        </div>

        <div ng-if="show == 'followers'" class="list">
            <a ng-repeat="follow in followers" ng-click="OpenProfile(follow.id)"
               class="item item-avatar item-text-wrap in done" style="min-height: 80px;">
                <span class="avatar deal-picture" ng-style="{'background-image':'url('+follow.avatar+')'}"></span>
                <h2>{{ follow.name | limitTo: 25 }}</h2>
                <!--<p>{{ follow.description }}</p>-->
            </a>

            <p ng-if="!followers.length" class="text-center">This user has not followed by anyone yet</p>
        </div>

        <ion-list>
            <a class="button button-assertive button-block button-outline button-logout" ng-click="showLogOutMenu()">Log Out</a>
        </ion-list>
    </ion-content>
</ion-view>
