<ion-view view-title="Post Deal">

    <div class="bar bar-header item-input-inset bar-positive">
        <button class="button button-clear"
                ng-click="GoBack()">
            <i class="ion-arrow-left-c"></i>
        </button>
    </div>

    <ion-content>

        <div class="row">
            <div class="col ">
                <button class="button button-block ion-ios-camera" ng-click="takePicture()">
                    Camera
                </button>
            </div>

            <div class="col col-50">
                <button class="button button-block ion-images" ng-click="choosePicture()">
                    Gallery
                </button>
            </div>
        </div>

        <div class="padding">

            <img id="image" src="" style="display:none;width:100%;">
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input ng-model="desc.content" type="text" placeholder="Description">
            </label>

            <button class="button button-block button-positive" ng-click="post()" style="margin-top:30px;">
                Post
            </button>

        </div>

    </ion-content>
</ion-view>
