<ion-view view-title="Notification">
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img ng-src="img/nguyen.jpg">
                <h2>Giam Gia Son</h2>
                <p style="white-space: normal;">Nguyen Nguyen Tran has liked your deal post</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img ng-src="img/nguyen.jpg">
                <h2>Giam Gia Son</h2>
                <p style="white-space: normal;">Nguyen Nguyen Tran has liked your deal post</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img ng-src="img/nguyen.jpg">
                <h2>Giam Gia Son</h2>
                <p style="white-space: normal;">Nguyen Nguyen Tran has liked your deal post</p>
            </a>

        </div>
    </ion-content>
