<ion-view view-title="Post Deal">
    <ion-content>

        <div class="row">
            <div class="col ">
                <button class="button button-block ion-ios-camera" ng-click="takePicture()">
                    Camera
                </button>
            </div>

            <div class="col col-50">
                <button class="button button-block ion-images" ng-click="choosePicture()">
                    Gallery
                </button>
            </div>
        </div>

        <div class="padding">

            <!--<img id="test" data-ng-src="img/joy.jpg"/>-->
            <img id="image" src="" style="display:none;width:100%;">
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input ng-model="desc" type="text" placeholder="Description">
            </label>

            <button class="button button-block button-light">
                Thêm địa chỉ của deal
            </button>
            <button class="button button-block button-light">
                Thêm thời gian gửi deal
            </button>
            <button class="button button-block button-light">
                Chọn bạn bè để gửi deal
            </button>
            <button class="button button-block button-positive" ng-click="post()" style="margin-top:30px;">
                Post
            </button>

        </div>

    </ion-content>
</ion-view>
