<ion-view view-title="Account" hide-nav-bar="true">

    <div class="bar bar-header item-input-inset bar-positive" style="position: fixed;">
        <label class="item-input-wrapper">
            <input type="search" placeholder="Tìm kiếm deal..." ng-model="search.searchText">
        </label>
        <button class="button button-clear" ng-click="clear_search()">
            <i class="icon ion-ios-search"></i>
        </button>
    </div>

    <ion-content scroll="true" style="margin-top:20px;">

        <div class="list card">
            <div class="item item-avatar" style="border-bottom: none; padding-top: 30px; padding-left: 85px;">
                <img height="60" width="60" style="border-radius:0;max-height: 60px; max-width:60px;"
                     ng-src="{{profile.picture}}">
                <h2 style="font-size:x-large;">{{profile.name}}</h2>
            </div>
            <p style="padding-left:15px; padding-top:10px;"><b>20 Follower 50 Following</b></p>
        </div>

        <div class="list card" ng-click="OpenDetail(post.id)"
             ng-repeat="post in feeds | filter:search.searchText | orderBy:'-id' ">
            <div class="item item-avatar">
                <img style="border-radius:0;" ng-src="{{ post.user.avatar_url }}">
                <div style="position:absolute; right:15px; top:15px;">1 Day</div>
                <h2 class="username">{{ post.user.name | limitTo: 25 }}</h2>
                <p>Quận 2, HCM</p>
            </div>
            <div class="item item-body" ng-click="OpenDetail(post.id)">
                <img class="full-image" ng-src="{{ post.picture_url }}">
                <p style="margin-bottom:5px;">
                    {{ post.description }}
                </p>
                <div class="deal-icons">
                    <a href="#" class="subdued"><i class="ion-android-star-outline"></i> {{post.likes.count || 0}}</a>
                    <a href="#" class="subdued"><i class="ion-ios-chatboxes-outline"></i> {{post.comments.count || 0}}</a>
                    <a href="#" class="subdued"><i class="ion-android-share-alt"></i> {{post.shares.count || 0}}</a>
                </div>
                <div class="row deal-footer">
                    <div class="deal-sale-off col-67"><span ng-if="post.promotion_value != null" >Sale off {{post.promotion_value}}</span></div>
                    <div class="share col-33"><button class="button" ng-click=Share()>Share</button></div>
                </div>
            </div>
        </div>

        <ion-list>
            <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Log Out</a>
        </ion-list>
    </ion-content>
</ion-view>
