<ion-view view-title="Dashboard" hide-nav-bar="true">

    <div class="bar bar-header item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <input type="search" placeholder="Tìm kiếm deal..." ng-change="search()" ng-model="data.search" ng-click="toggleModal()">
        </label>
        <button class="button button-clear" ng-click="clear_search()">
            <i class="icon" ng-class="data.search ? 'ion-close-round' : 'ion-ios-search'"></i>
        </button>
    </div>

    <div class="bar bar-subheader">
        <div ng-click="crawl.getall()" class="filter col col-33" ng-class="toggle.all"> All</div>
        <div ng-click="crawl.getuser()" class="filter col col-33" ng-class="toggle.user"> User</div>
        <div ng-click="crawl.getcrawler()" class="filter col col-33" ng-class="toggle.crawler"> Crawler</div>
    </div>

    <ion-content scroll="true" class="dashboard">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list post-repeat"
             ng-repeat="post in feeds | filter:{description: search.searchText, post_type: crawl.desc}">
            <!-- <div id="waypoint"></div> -->
            <div ng-if="post.post_type == 'crawl'" class="item item-avatar">
                <img style="border-radius:0;" ng-if="post.user.avatar_url" ng-src="{{ post.user.avatar_url }}">
                <img style="border-radius:0;" ng-if="!post.user.avatar_url" ng-src="img/nguyen.jpg">
                <!-- check if crawler post -->
                <div style="position:absolute; right:15px; top:15px;">Ads</div>
                <h2 class="username">{{ post.user.name | limitTo: 25 }}</h2><i ng-if="post.user.is_store" class="ion-checkmark"></i>
                <p>Quận 2, HCM</p>
            </div>

            <div ng-if="post.post_type != 'crawl'" class="item item-avatar">
                <img style="border-radius:0;" ng-if="post.user.avatar_url" ng-src="{{ post.user.avatar_url }}" ng-click="OpenProfile(post.user.id)">
                <img style="border-radius:0;" ng-if="!post.user.avatar_url" ng-src="img/nguyen.jpg" ng-click="OpenProfile(post.user.id)">
                <!-- check if crawler post -->
                <div ng-if="post.post_type == 'user' " style="position:absolute; right:15px; top:15px;">User Post</div>
                <h2 class="username" ng-click="OpenProfile(post.user.id)">{{ post.user.name | limitTo: 25 }}</h2>
                <p>Quận 2, HCM</p>
            </div>

            <div id="{{post.feed_id}}" class="item item-body waypoint" ng-click="OpenDetail(post.id)">
                <img class="full-image" ng-src="{{ post.picture_url }}">
                <p style="margin-bottom:5px;">
                    {{ post.description }}
                </p>
                <div ng-show="post.tags.length" ng-repeat="tag in post.tags" class="hashtag">{{'#' + tag.name}}</div>
                <div class="deal-icons">
                    <a href="#" class="subdued"><i class="ion-android-star-outline"></i> {{post.likes.count || 0}}</a>
                    <a href="#" class="subdued"><i class="ion-ios-chatboxes-outline"></i> {{post.comments.count || 0}}</a>
                </div>
                <div class="row deal-footer">
                    <div class="deal-sale-off col-67"><span ng-if="post.promotion_value">Sale off {{post.promotion_value}}</span></div>
                    <div class="share col-33"><button class="button" ng-click=Share(post.id)>Share</button></div>
                </div>            </div>
        </div>

        <ion-infinite-scroll
            ng-if="request.page <= request.limit"
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>

    </ion-content>

    <script id="modal-search.html" type="text/ng-template">
        <div class="modal modal-map modal-search">

            <ion-content has-header="true" padding="true" scroll="true">
                <ion-spinner ng-if="data.loading" icon="android" class="col col-33 col-offset-33 text-center"></ion-spinner>
                <div class="list-map in done" ng-repeat="item in data.items">
                    <div ng-if="item.result_type == 'Post'" class="item item-avatar item-text-wrap item-post">
                        <span ng-click="OpenDetail(item.result_data.id)" class="avatar deal-picture" ng-style="{'background-image':'url('+item.result_data.picture_url+')'}"></span>
                        <h2>{{ item.result_data.user.name | limitTo: 25 }}</h2>
                        <p ng-click="OpenDetail(item.result_data.id)">{{ item.result_data.description }}</p>
                    </div>

                    <div ng-if="item.result_type == 'User'" ng-click="GotoProfile(item.result_data.id)" class="item item-avatar item-text-wrap item-thumbnail-left item-user">
                        <span class="avatar deal-picture search" ng-style="{'background-image':'url('+item.result_data.avatar+')'}"></span>
                        <h2 class="username">{{ item.result_data.name | limitTo: 25 }}</h2>
                    </div>
                </div>

            </ion-content>
        </div>
    </script>

</ion-view>
