<ion-tabs class="tabs-icon-only tabs-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Dash" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Map Tab -->
    <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
