<ion-tabs class="tabs-icon-top tabs-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Bảng Tin" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Tạo Deal" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/post">
        <ion-nav-view name="tab-post"></ion-nav-view>
    </ion-tab>

    <!-- Map Tab -->
    <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Tùy Chọn" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
