<ion-view hide-nav-bar="true">

    <div class="bar bar-header item-input-inset bar-positive">
        <button class="button button-clear"
                ng-click="GoBack()">
            <i class="ion-arrow-left-c"></i>
        </button>
        <label class="item-input-wrapper">
            <input type="search" placeholder="Tìm kiếm deal..." ng-model="search.searchText">
        </label>
        <button class="button button-clear" ng-click="clear_search()">
            <i class="icon ion-ios-search"></i>
        </button>
    </div>

    <ion-content style="margin-top:43px;">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div>
            <div ng-if="post.post_type == 'crawl'" class="item item-avatar">
                <img style="border-radius:0;" ng-if="post.user.avatar_url" ng-src="{{ post.user.avatar_url }}">
                <img style="border-radius:0;" ng-if="!post.user.avatar_url" ng-src="img/nguyen.jpg">
                <!-- check if crawler post -->
                <div style="position:absolute; right:15px; top:15px;">Ads</div>
                <h2 class="username">{{ post.user.name | limitTo: 25 }}</h2><i ng-if="post.user.is_store" class="ion-checkmark"></i>
                <p>Quận 2, HCM</p>
            </div>

            <div ng-if="post.post_type != 'crawl'" class="item item-avatar">
                <img style="border-radius:0;" ng-if="post.user.avatar_url" ng-src="{{ post.user.avatar_url }}" ng-click="OpenProfile(post.user.id)">
                <img style="border-radius:0;" ng-if="!post.user.avatar_url" ng-src="img/nguyen.jpg" ng-click="OpenProfile(post.user.id)">
                <!-- check if crawler post -->
                <div ng-if="post.post_type == 'user' " style="position:absolute; right:15px; top:15px;">User Post</div>
                <h2 class="username" ng-click="OpenProfile(post.user.id)">{{ post.user.name | limitTo: 25 }}</h2>
                <p>Quận 2, HCM</p>
            </div>
            <div class="item item-body" ng-click="OpenDetail(post.id)" style="border:none;">
                <img class="full-image" ng-src="{{ post.picture_url }}">
                <p style="margin-bottom:5px;">
                    {{ post.description }}
                </p>
                <div ng-show="post.tags.length" ng-repeat="tag in post.tags" class="hashtag">{{'#' + tag.name}}</div>
                <div class="deal-icons">
                    <a href="#" class="subdued" ng-click="like(post.id)"><i class="{{post.icon_like}}"></i> {{post.likes.count || 0}}</a>
                    <a href="#" class="subdued"><i class="ion-ios-chatboxes-outline"></i> {{post.comments.count || 0}}</a>
                    <a ng-if="post.lat && post.long" ng-click="ViewMap(post.id)" class="subdued"><i class="ion-ios-location-outline"></i></a>
                </div>
                <div class="row deal-footer">
                    <div class="deal-sale-off col-67"><span ng-if="post.promotion_value" >Sale off {{post.promotion_value}}</span></div>
                    <div class="share col-33"><button class="button" ng-click=Share(post.id)>Share</button></div>
                </div>
            </div>
        </div>

        <div class="comment-section" ng-if="post.comments.comments.length">
            <div class="card" ng-repeat="cmt in post.comments.comments">
                <div class="item item-avatar item-text-wrap">
                    <img ng-src={{cmt.user.avatar}} ng-click="OpenProfile(cmt.user.id)">
                    <div class="comment-detail">
                        <h2 class="username" ng-click="OpenProfile(cmt.user.id)">{{cmt.user.name}}</h2>
                        <div>{{cmt.content}}</div>
                        <!-- <p>{{cmt.created}}</p> -->
                    </div>
                </div>
            </div>
        </div>

        <ion-spinner ng-if="load == 'loading'" icon="android" class="col col-33 col-offset-33 text-center"></ion-spinner>

        <div class="item item-input-inset comment-block">
            <textarea rows="4" placeholder="Comments" ng-model="cmt.content" enter-submit="sendComment()">
            </textarea>
            <button class="button button-small"  ng-click="sendComment()">
                <i class="icon ion-paper-airplane" style="color: #ffffff;"></i>
            </button>
        </div>

    </ion-content>
</ion-view>
