<ion-view hide-nav-bar="true">

    <div class="bar bar-header item-input-inset bar-positive">
        <button style="margin-right:10px;" class="button button-clear"
                ng-click="GoBack()">
            <i class="ion-arrow-left-c"></i>
        </button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Tìm kiếm deal..." ng-model="search.searchText">
        </label>
        <button class="button button-clear" ng-click="clear_search()">
            Cancel
        </button>
    </div>

    <ion-content style="margin-top:40px;">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list" style="margin-bottom:0;">
            <div class="item item-avatar">
                <img style="border-radius:0;" ng-if="post.user.avatar_url" ng-src="{{ post.user.avatar_url }}">
                <img style="border-radius:0;" ng-if="!post.user.avatar_url" ng-src="img/nguyen.jpg">
                <!-- check if crawler post -->
                <div ng-if="!post.post_type" style="position:absolute; right:15px; top:15px;">1 Day</div>
                <div ng-if="post.post_type == 'crawl' " style="position:absolute; right:15px; top:15px;">Ads</div>
                <h2>{{ post.user.name | limitTo: 25 }}</h2>
                <p>Quận 2, HCM</p>
            </div>
            <div style="border:none" class="item item-body">
                <img class="full-image" ng-src="{{ post.picture_url }}">
                <p style="margin-bottom:5px;">
                    {{ post.description }}
                </p>
                Sale off {{post.promotion_value}}
                <p style="margin:5px 0;"><b>{{post.likes.count || 0}} người thích deal này</b></p>
                <p style="margin:5px 0;">
                    <a href="#" class="subdued" ng-click="like(post.id)"><i class="{{post.icon_like}}" style="font-size:30px;"></i></a>
                    <a href="#" class="subdued"><i class="ion-ios-chatboxes-outline" style="font-size:30px;"></i></a>
                    <a href="#" class="subdued"><i class="ion-android-share-alt" style="font-size:30px;"></i></a>
                </p>
                <p style="margin:5px 0;">
                    <a href="#" class="subdued">Có {{post.comments.count || 0}} bình luận cho post này</a>
                </p>
            </div>
        </div>

        <div ng-repeat="cmt in post.comments.comments">
            <div class="card">
            <div class="item item-avatar item-text-wrap">
                <img ng-src={{cmt.user.avatar}}>
                <h2  style="color: #4DADAF;">{{cmt.user.name}}</h2>
                <!-- <p>{{cmt.created}}</p> -->
                <p class="item">{{cmt.content}}</p>
            </div>
            </div>
        </div>
        <div class="item item-input-inset">
            <textarea rows="4" placeholder="Comments" ng-model="cmt.content" enter-submit="sendComment()" style="resize:none;width:95%;padding:0 5%;margin-right:5%;">
            </textarea>
            <button class="button button-small" style="background-color: #55B6B8; width: 50px"  ng-click="sendComment()">
                <i class="icon  ion-paper-airplane" style="color: #ffffff;"></i>
            </button>
        </div>

    </ion-content>
</ion-view>
